/* Root CSS */
:root {
    --sky-blue: #b2bfc7;
    --dark-blue: #0f2633;  
    --lime-yellow: #aeaf26; 
    --orange: #e69f00;
    --blue-grey: #647b8a;
    --white: #f5f7fa;
    --black: #000000;
    --light-blue: #0c62e4;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PlusJakartaSans', sans-serif;
    background-color: var(--sky-blue);
}
/* Remove the spinner from number input fields */
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

/* Ensure no spinner appears in WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* container and wrapper*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.mortgage-calculator {
    display: flex;
    background-color: var(--white);
    border-radius: 16px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 1000px;
    max-height: 800px;
    height:70%;
}
.left-section,
.right-section {
    width: 50%;
    padding: 20px 30px;

}


/* left side styling*/
.heading-area{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    
}
.calculator-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--dark-blue);
    margin-right:120px;
}
.clear-btn{
    border:none;
    background: var(--white);
    color: var(--light-blue);
    cursor:pointer;
    font-weight: 600;
    font-size:16px;
}
.amount{
    width:90%;
    padding:10px;
    border:1 px solid var(--white);
    border-radius:5px;
}
.amount:focus{
    border: 1px solid var(--light-blue);
    outline:none;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--dark-blue);
    font-weight: bold;
}
.form-group-amount, .form-group-term{
    margin:25px auto;
}
.form-group-term{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-group-term input{
    width:80%;
    padding:10px;
    border:1px solid var(--white);
    border-radius:5px;
}
.form-group-type {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* right side styling*/
.right-section{
    background: var(--dark-blue);
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
    border-bottom-left-radius:50px;
    color: var(--blue-grey);
}
.result-idle{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:20px;
    padding-top:80px;
}
.idle-caption-upper{
    color: var(--white);
    font-weight:600;
    font-size:22px;
    margin-bottom:0;
}
.idle-caption-lower{
    text-align: center;
}
.result-show{
    display:flex;
    margin: 20px;
}
.result-label{
    color: var(--white);
    font-weight:600;
    font-size:22px;
}
.result-caption{
    text-align: justify;
}
.result-box{
    background: black;
    border-top:4px solid var(--lime-yellow);
    border-radius:10px;
    margin:50px auto 20px auto;
}
.payment-calculation, .payment-amount, .repayment-calculation, .repayment-amount{
    margin: 0 25px;
}
.payment-calculation, .repayment-calculation{
    padding: 15px 0;
}
.payment-amount{
    padding-bottom:20px;
    color: var(--lime-yellow);
    font-weight:600;
    font-size:45px;
    border-bottom:2px solid var(--blue-grey);
}
.repayment-amount{
    color: var(--white);
    font-weight:600;
    font-size:30px;
    padding-bottom:20px;
}